/*wild card - unless style is otherwise specified for elements, style from wild card will be used*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
}
body {
  background-color: #73fe96;
}
main {
  width: 90%;
  max-width: 25em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 2em;
  border-radius: 0.8em;
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-image {
  width: 9.37em;
  padding-bottom: 2em;
}
h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
label {
  display: block;
  font-weight: 600;
}
/*what the currency amount will look like while inactive (before clicking)*/
input#amount {
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  width: 100%;
  border-bottom: 2px solid #9fa8a2;
  color: #789d87;
  margin-bottom: 2em;
  padding: 0.5em;
}
/*what the currency amount will look like while active (after clicking and cursor appears)*/
input#amount:focus {
  color: #9fa8a2;
  border-color: #02002c;
}
.dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
select {
  width: 100%;
  padding: 0.6em;
  font-size: 1em;
  border-radius: 0.2em;
  /*none probably refers to removing default details that appear automatically*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 50%, center;
  background-size: 20px 20px;
  background-color: #3aa724;
  color: #ffffff;
}
select option {
  background-color: #ffffff;
  color: #02002c;
}
button {
  font-size: 1em;
  width: 100%;
  background-color: #3aa724;
  padding: 1em 0;
  margin-top: 2em;
  border-radius: 0.3em;
  color: #ffffff;
  font-weight: 600;
  transition-duration: 0.4s;
}
button:hover {
  background-color: #fff;
  border-color: #3aa724;
  border: 2px;
}
/*hashtag is used to select an id, period is used to select class, just type the element to select actual element*/
#result {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  color: #02002c;
  background-color: #e5dbff;
  padding: 0.8em 0;
}
